*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin:auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

.content {
  margin: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


fieldset {
  border: none;
}

video {
  width:100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

.content {
  align-self: center;
  display: flex;
  width: 1140px;
  height: 534px;
}

.result {
  margin-top: auto;
  margin-right: 30px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}


.search-form {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  gap: 40px;
  height: 54px;
  width: 100%;
}

.search-form__label {
  display: inline-flex;
  width: fit-content;
  gap:5px;
  cursor: pointer;
}

.search-form__textfield {
  color: inherit;
  width: 225px;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
  border-right: none;
  border-left: none;
  border-width: 1px;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  background-color: transparent;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap:5px;
  align-content: center;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

input[type='checkbox']:checked + span {
  width: 19px;
  height: 19px;
  outline: 1px solid black;
  background-color: #FFFFFF;
  outline-offset: -2px;
  border: 1px solid white;
}

.search-form__submit-button {
  flex:1;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 70px;
  margin-bottom: 26px;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__card-link_current {
  background-color: #545050;
  display: block;
}

.content__list-item {
  margin-bottom: 32px;
}

.content__video-card {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  margin-left: 2px;
  width: fit-content;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-top: auto;
  margin-bottom: auto;
}

.content__video-card-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.preloader {
  position: fixed;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}


.button {
  background-color: #1b1919;
  height: 34px;
  font-size: 18px;
  border: 1px solid #FFFFFF;
  width: auto;
  align-self: end;
  color: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: 700;
}

.more-button {
  width: 100%;
}

input:active {
  border: 1px solid #FFFFFF;
}

input:focus {
  outline-style: solid;
  outline-color: #FFFFFF;
  outline-offset: 1px;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline ;
}

.button:focus {
  outline-style: solid;
  outline-color: #FFFFFF;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}
