*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin:auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;

}

.content {
  display: flex;
  gap: 30px;
  align-self: center;
  width: 1140px;
  margin: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}


fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

input {
  appearance: none;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 40px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
  inline-size: 100%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap:5px;
}

.search-form__label {
  display: inline-flex;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  border-width: 1px;
  border-style: solid;
  border-top-color: #ffffff;
  border-right: none;
  border-bottom-color: #ffffff;
  border-left: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
}

.search-form__textfield:active {
  outline: 1px solid #FFFFFF;
  outline-offset: 0px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  align-self: center;
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.search-form__checkbox:checked + span {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  outline: 1px solid black;
  outline-offset: -2px;
  background-color: #FFFFFF;
}

.search-form__pseudo-checkbox:active {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  outline: 1px solid black;
  outline-offset: -2px;
  background-color: #FFFFFF;
}
.search-form__label:hover .search-form__label-text  {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.search-form__label:focus {
  outline: none;
}
.search-form__submit-button {
  flex:1;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  padding-bottom: 26px;
  font-family:  'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #FFFFFF;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item:nth-last-child(2){
  margin-bottom: 0px;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}

.content__card-link:hover .content__video-card-description-container * {
  margin-bottom: -1px;
  border-bottom: 1px solid #ffffff;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 2px;
}

.content__video-card-description {
  width: fit-content;
  max-width: 200px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-title {
  width: fit-content;
  max-width: 200px;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  align-self: end;
  width: auto;
  height: 34px;
  border: 1px solid #FFFFFF;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: #1b1919;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-color: #FFFFFF;
  outline-offset: 1px;
  outline-style: solid;
}

.button:active {
  background-color: #545050;
}

